# .env.example

# GROQ
GROQ_API_KEY=
CHAT_MODEL="groq:llama-3.3-70b-versatile"
USER_AGENT="langchain-course-bot/1.0"

#LANGSMITH
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_PROJECT=assistant_document